body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing:antialiased;
  }
  #header{
      height: 120px;
      width: 100%;
      background: white;
      border-bottom: 1px solid #ccc;
      border-top: 5px solid #61dafb;
  }
  .center{
    width: 75%;
    margin: 0px auto;
}
.cleafix{
    clear: both;
    float: none;
}
  #logo{
      width: 30%;
      font-size: 30px;
      float:left;
      margin-top: 35px;
  }
  #logo img{
      display: block;
      float: left;
      height:60px;
      margin-top:-9px;
      margin-left:-10px;
  }
  #brand{
      display:block;
      margin: 0px;
      float: left;
  }
  #menu{
      width: 70%;
      float:right;
      font-size: 18px;
  }
  #menu ul{
      line-height: 85px;
      width: 60%;
      float:right;
  }
  #menu ul li{
      display: inline-block;
      list-style: none;
      height: 46px;
      margin-left: 15px;
      margin-right: 15px;
  }
  #menu a{
      text-decoration: none;
      color: #444;
      transition: 300ms all;
  }
  #menu a:hover{
      color:#269cbd;
  }

  #slider{
      background: #61dafb;
      width: 100%;
      height: 350px;
      /* line-height: 320px; */
      color:white;
      text-shadow: 0px 0px 5px #444;
  }
  #slider h1{
      margin: 0px;
      padding: 0px;
      padding-top: 130px;
      text-align: center;

  }
  .btn-white{
      display: block;
      background: white;
      color: black;
      padding: 10px;
      width: 100px;
      height: 35px;
      margin: 0px auto;
      font-size: 18px;
      text-transform: uppercase;
      text-shadow: none;
      text-decoration: none;
      line-height: 35px;
      box-shadow: 0px 0px 5px #444;
      margin-top: 40px;
      border-radius: 4px;
      transition: 300ms all;
  }
  
  .btn-white:hover{
      background: #444;
      color:white;

  }